<div id="tictac">
  <header class="section">
    Tic Tac Toe -
    <span style="font-size:1rem" ><a href="http://resume.deepanshuyadav.xyz" style="text-decoration:none;color:black;cursor:pointer;"> &nbsp;By Deepanshu Yadav</a></span>

  </header>
  <section class="section scores">
    <h3>Score of "X" : {{store.xscore}}</h3>
    <h3>Score of "O" : {{store.oscore}}</h3>
  </section>
  <section class="section stacks">
    <h3>"X" move stack : <span *ngFor="let x of store.xmoveStack">{{x}}</span>
    </h3>
    <h3>"O" move stack : <span *ngFor="let x of store.omoveStack">{{x}}</span></h3>
  </section>
  <section class="board_row">
    <section class="col">
    </section>
    <section class="board">
      <div *ngFor="let tile of tiles" class="tileClass">
        <tictac-tile [load]="tile" (click)="
          tile.clicked($event,store.chance,store.winFlag);
          clickedByPlayer($event,tile);
          displayWon();">
        </tictac-tile>
      </div>
    </section>
    <section class="col">
    </section>
  </section>
  <section class="section buttons">
    <button class="btn btn_shadow" (click)="store.newGame();resetTiles();">New Game</button>
    <button class="btn btn_shadow" (click)="store.reset();resetTiles();">Reset</button>
  </section>


</div>